<%- include("../includes/head") %>

<link rel="stylesheet" href="/css/main.css">
</head>
<body>
  
    <main>
        <div>
            <h1>Music For<span> Your Feelings</span>.AI</h1>
        </div>
        <div>
            <%- include("../includes/searchBox") %>
        </div>
        <div>
           
        </div>
        <div>
            <%if(video){%>
                <%- include("../includes/card") %>
                
                <%}%>

        </div>
    </main>

    
    <%if(error){%>
        <script>alert("<%=error%>")</script>
            <%}%>
    <%- include("../includes/foot") %>
